.navbar-brand img {
    border-radius: 50%;
  }
  
  .navbar-nav .nav-link {
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .navbar-nav .dropdown-menu {
    background-color: #444; /* Couleur du dropdown */
  }
  
  .navbar-nav .dropdown-item:hover {
    background-color: #555; /* Changement de couleur au survol */
  }
  