  .navbar-nav .nav-link {
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .navbar-nav .dropdown-menu {
    background-color: #444; /* Couleur du dropdown */
  }
  
  .navbar-nav .dropdown-item:hover {
    background-color: #555; /* Changement de couleur au survol */
  }

  .profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Pour rendre l'image ronde */
    margin-left: 10px;
  }
  