.navbar {
    background-color: rgba(0, 0, 0, 0.85); /* Couleur sombre avec un léger effet transparent */
    padding: 20px 40px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre pour plus de profondeur */
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 50px; /* Espacement pour un look aéré */
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #ffd700; /* Texte doré pour les liens */
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-links a:hover {
    background-color: #b30000; /* Rouge intense pour l'effet de survol */
    transform: scale(1.1); /* Animation d'agrandissement */
    box-shadow: 0 6px 12px rgba(179, 0, 0, 0.5); /* Ombre plus forte au survol */
}

.active {
    font-weight: bold;
    background-color: #ffd700;
    color: black;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7); /* Effet brillant pour le lien actif */
}
