.navbar {
    background-color: #343a40;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .logoContainer {
    margin-bottom: 40px;
  }
  
  .logo {
    width: 150px;
  }
  
  .navLinks {
    list-style: none;
    padding: 0;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
  }
  
  .active {
    background-color: #495057;
    color: #fff;
    border-radius: 5px;
  }
  
  .accountDropdown {
    margin-top: auto;
    color: #fff;
    cursor: pointer;
    padding: 10px;
  }
  